@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}
html {
  scroll-behavior: smooth;
}

button,
a {
  transition: all 0.2s ease-in-out;
}

img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.03);
}
